<TR>
    <TD BORDER="{{ theme.tableBorder }}" ALIGN="CENTER" BGCOLOR="{{ theme.title.background }}">
        <FONT COLOR="{{ theme.stereotype.color }}" FACE="{{ theme.stereotype.font }}" POINT-SIZE="{{ theme.stereotype.fontSize }}">
            &lt;&lt;trait&gt;&gt;
        </FONT>
        <BR/>
        <B>
            <FONT COLOR="{{ theme.title.color }}" FACE="{{ theme.title.font }}" POINT-SIZE="{{ theme.title.fontSize }}">
                {% if isAbstract %}<I>{% endif %}
                    {{ definition.name }}
                {% if isAbstract %}</I>{% endif %}
            </FONT>
        </B>
    </TD>
</TR>
