{% if definitions.methods is not empty %}
<TR>
    <TD BORDER="{{ style.tableBorder }}" ALIGN="LEFT" BGCOLOR="{{ style.methods.background }}">
        {% for method in definition.methods %}
            <FONT COLOR="{{ style.methods.color }}" FACE="{{ style.methods.font }}" POINT-SIZE="{{ style.methods.fontSize }}">
                {{ method }}
            </FONT>
            <BR ALIGN="LEFT"/>
        {% endfor %}
    </TD>
</TR>
{% endif %}
