{% extends 'style.html.twig' %}
{% block content %}
<TABLE CELLSPACING="0" BORDER="0" ALIGN="LEFT">
    <TR>
        <TD BORDER="{{ classTableBorder }}" ALIGN="CENTER" BGCOLOR="{{ classTitleBackground }}">
            <FONT COLOR="{{ classTitleColor }}" FACE="{{ classTitleFont }}" POINT-SIZE="{{ classTitleFontSize }}">
                {{ class.name }}
            </FONT>
        </TD>
    </TR>
    <TR>
        <TD BORDER="{{ classTableBorder }}" ALIGN="LEFT" BGCOLOR="{{ classAttributesBackground }}">
            {% for attribute in class.attributes %}
                <FONT COLOR="{{ classAttributesColor }}" FACE="{{ classAttributesFont }}" POINT-SIZE="{{ classAttributesFontSize }}">{{ attribute }}</FONT>
                <BR ALIGN="LEFT"/>
            {% else %}
                &nbsp;
            {% endfor %}
        </TD>
    </TR>
    <TR>
        <TD BORDER="{{ classTableBorder }}" ALIGN="LEFT" BGCOLOR="{{ classMethodsBackground }}">
            {% for method in class.methods %}
                <FONT COLOR="{{ classMethodsColor }}" FACE="{{ classMethodsFont }}" POINT-SIZE="{{ classMethodsFontSize }}">
                    {{ method }}
                </FONT>
                <BR ALIGN="LEFT"/>
            {% else %}
                &nbsp;
            {% endfor %}
        </TD>
    </TR>
</TABLE>
{% endblock %}
