{% extends 'style.html.twig' %}
{% block content %}
<TABLE CELLSPACING="0" BORDER="0" ALIGN="LEFT">
    <TR>
        <TD BORDER="{{ interfaceTableBorder }}" ALIGN="CENTER" BGCOLOR="{{ interfaceTitleBackground }}">
            <FONT COLOR="{{ interfaceTitleColor }}" FACE="{{ interfaceTitleFont }}" POINT-SIZE="{{ interfaceTitleFontSize }}">
                {{ interface.name }}
            </FONT>
        </TD>
    </TR>
    <TR>
        <TD BORDER="{{ interfaceTableBorder }}" ALIGN="LEFT" BGCOLOR="{{ interfaceAttributesBackground }}">
            {% for attribute in interface.attributes %}
                <FONT COLOR="{{ interfaceAttributesColor }}" FACE="{{ interfaceAttributesFont }}" POINT-SIZE="{{ interfaceAttributesFontSize }}">{{ attribute }}</FONT>
                <BR ALIGN="LEFT"/>
            {% else %}
                &nbsp;
            {% endfor %}
        </TD>
    </TR>
    <TR>
        <TD BORDER="{{ interfaceTableBorder }}" ALIGN="LEFT" BGCOLOR="{{ interfaceMethodsBackground }}">
            {% for method in interface.methods %}
                <FONT COLOR="{{ interfaceMethodsColor }}" FACE="{{ interfaceMethodsFont }}" POINT-SIZE="{{ interfaceMethodsFontSize }}">
                    {{ method }}
                </FONT>
                <BR ALIGN="LEFT"/>
            {% else %}
                &nbsp;
            {% endfor %}
        </TD>
    </TR>
</TABLE>
{% endblock %}
