<TABLE CELLSPACING="0" BORDER="0" ALIGN="LEFT">
    <TR>
        <TD BORDER="{{ style.classTableBorder }}" ALIGN="CENTER" BGCOLOR="{{ style.classTitleBackground }}">
            <FONT COLOR="{{ style.classTitleColor }}" FACE="{{ style.classTitleFont }}" POINT-SIZE="{{ style.classTitleFontsize }}">
                {{ class.name }}
            </FONT>
        </TD>
    </TR>
    <TR>
        <TD BORDER="{{ style.classTableBorder }}" ALIGN="LEFT" BGCOLOR="{{ style.classAttributesBackground }}">
            {% for attribute in class.attributes %}
                <FONT COLOR="{{ style.classAttributesColor }}" FACE="{{ style.classAttributesFont }}" POINT-SIZE="{{ style.classAttributesFontsize }}">{{ attribute }}</FONT>
                <BR ALIGN="LEFT"/>
            {% else %}
                &nbsp;
            {% endfor %}
        </TD>
    </TR>
    <TR>
        <TD BORDER="{{ style.classTableBorder }}" ALIGN="LEFT" BGCOLOR="{{ style.classFunctionsBackground }}">
            {% for method in class.functions %}
                <FONT COLOR="{{ style.classFunctionsColor }}" FACE="{{ style.classFunctionsFont }}" POINT-SIZE="{{ style.classFunctionsFontsize }}">
                    {{ method }}
                </FONT>
                <BR ALIGN="LEFT"/>
            {% else %}
                &nbsp;
            {% endfor %}
        </TD>
    </TR>
</TABLE>
